*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

body{
    margin: 0;
    background-image: linear-gradient(to top, #cfd9df 0%, #93989a 100%);
}

footer{
    background-color: #44533b;
    display: flex;
    padding: 10;
    margin: 10;
    flex-direction: column;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

/*header{
    background-color: #44533b;
    display: flex;
    padding: 10;
    margin: 10;
    flex-direction: column;
    align-items: center ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}*/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*Botones*/

button{
    align-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: #3535d2a9;
    box-shadow: 5px 5px 10px -3px #00000041, -5px -5px 15px 3px #dce9e60d;
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: --bs-white;
    --bs-btn-bg: var(--bd-violet);
    --bs-btn-border-color: var(--bd-violet);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

button:active{
    background-color: #69696b;
}

button:focus{
    outline: none;
}

.col-2{
    grid-column: span 2;
}

.row-2{
    grid-row: span 3;
    
}

/*Calculadora*/

.calculadora{
    display: grid;
    grid-template-columns: repeat(4,75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #4f4f55;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000070;
}

/*Display*/

.display{
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #44533b;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;
}

#valorActual{
    font-size: 1.5em;
}

#valorAnterior{
    font-size: 2em;
}
